{% if new_new_vhosts is defined and new_new_vhosts %}
{% for vhost in new_new_vhosts %}
{{ vhost.domain }} www.{{ vhost.domain }} dev.{{ vhost.domain }}
{% endfor %}
{% endif %}
{% if wordpress_vhosts is defined %}
{% for vhost in wordpress_vhosts %}
{{ vhost.domain }} www.{{ vhost.domain }} dev.{{ vhost.domain }}
{% endfor %}
{% endif %}
{% if new_wordpress_vhosts is defined %}
{% for vhost in new_wordpress_vhosts %}
{% if 'dev' == env %}
dev.{{ vhost.domain }}
{% elif 'staging' == env %}
staging.{{ vhost.domain }}
{% else %}
{{ vhost.domain }} www.{{ vhost.domain }}
{% endif %}
{% endfor %}
{% endif %}