{% if restic_backend == 'backblaze' %}
export B2_ACCOUNT_ID={{ restic_b2_account_id }}
export B2_ACCOUNT_KEY={{ restic_b2_application_key }}
{% elif restic_backend == 'aws-s3' %}
export AWS_ACCESS_KEY_ID="{{ restic_aws_access_key_id }}"
export AWS_SECRET_ACCESS_KEY="{{ restic_aws_secret_access_key }}"
{% elif restic_backend == 'spaces-s3' %}
export AWS_ACCESS_KEY_ID="{{ restic_access_key_id }}"
export AWS_SECRET_ACCESS_KEY="{{ restic_secret_access_key }}"
{% endif %}
export RESTIC_REPOSITORY={{ restic_transfer_repo }}
export RESTIC_PASSWORD={{ restic_password }}
