#!/bin/bash

# I created a new template (restic-backup-nosource.sh.j2) so as not to
# break backwards-compatibility so if this role is run again on one of 
# those machines, it won't break existing cron jobs

set -e

source {{ restic_env_file }}
export TMPDIR={{ restic_tmp_dir }}

mkdir -p $TMPDIR
mkdir -p {{ restic_cache_dir }}
touch {{ restic_excludes_file }}

{% for dir in restic_backup_dirs %}
{{ restic_bindir }}/restic backup --verbose {{ dir }} --exclude-file={{ restic_excludes_file }} --cache-dir {{ restic_cache_dir }}
{% endfor %}

{# boilerplate policy, please parameterise #}
{{ restic_bindir }}/restic forget --keep-daily 7 --keep-weekly 5 --keep-monthly 12 --keep-yearly 10 --prune