{{ apache_global_vhost_settings }}

{# Set up VirtualHosts #}
{% for vhost in new_vhosts %}
{% if vhost.tls is defined %}
<VirtualHost {{ apache_listen_ip }}:{{ apache_listen_port }}>
  ServerName {{ vhost.domain }}
  ServerAlias www.{{ vhost.domain }}
  Documentroot "{{ apache_vhosts_root }}/{{ vhost.domain }}/httpdocs"
  Redirect / https://{{ vhost.domain }}/
</VirtualHost>
{% endif %}

{% if vhost.tls is defined %}
<VirtualHost {{ apache_listen_ip }}:{{ apache_listen_port_ssl }}>
{% else %}
<VirtualHost {{ apache_listen_ip }}:{{ apache_listen_port }}>
{% endif %}
  ServerName {{ vhost.domain }}
  ServerAlias www.{{ vhost.domain }}
  ServerAdmin admin@{{ vhost.domain }}
  DocumentRoot "{{ apache_vhosts_root }}/{{ vhost.domain }}/httpdocs"
{% if vhost.tls is defined %}
  SSLEngine on
  SSLCipherSuite {{ apache_ssl_cipher_suite }}
  SSLProtocol {{ apache_ssl_protocol }}
  SSLHonorCipherOrder On
{% if apache_vhosts_version == "2.4" %}
  SSLCompression off
{% endif %}
{% if vhost.letsencrypt is defined %}
  SSLCertificateFile /etc/letsencrypt/live/{{ vhost.domain }}/cert.pem
  SSLCertificateKeyFile /etc/letsencrypt/live/{{ vhost.domain }}/privkey.pem
  SSLCertificateChainFile /etc/letsencrypt/live/{{ vhost.domain }}/chain.pem
{% else %}
  SSLCertificateFile {{ vhost.certificate_file }}
  SSLCertificateKeyFile {{ vhost.certificate_key_file }}
{% if vhost.certificate_chain_file is defined %}
  SSLCertificateChainFile {{ vhost.certificate_chain_file }}
{% endif %}
{% endif %}
  <Directory "{{ apache_vhosts_root }}/{{ vhost.domain }}/httpdocs">
    AllowOverride none
    Options {{ vhost.options | default(apache_options) }}
{% if apache_vhosts_version == "2.2" %}
    Order allow,deny
    Allow from all
{% else %}
    Require all granted
{% endif %}
  </Directory>
{% if vhost.subdirs is defined %}
{% for subdir in vhost.subdirs %}
Alias /{{ subdir.dir }} {{ apache_vhosts_root }}/{{ subdir.slug }}/httpdocs

<Directory {{ apache_vhosts_root }}/{{ subdir.slug }}/httpdocs>
    AllowOverride none
    Options {{ vhost.options | default(apache_options) }}
{% if apache_vhosts_version == "2.2" %}
    Order allow,deny
    Allow from all
{% else %}
    Require all granted
{% endif %}
</Directory>
{% endfor %}
{% endif %}
	ErrorLog /var/log/httpd/{{ vhost.domain }}-error.log
	LogLevel warn
  CustomLog /var/log/httpd/{{ vhost.domain }}-access.log combined
</VirtualHost>
{% endfor %}
