{{ apache_global_vhost_settings }}

{# Set up VirtualHosts #}
{% for vhost in wordpress_vhosts %}
{% if vhost.tls is not defined %}
<VirtualHost {{ apache_listen_ip }}:{{ apache_listen_port }}>
  ServerName {{ vhost.domain }}
  ServerAlias www.{{ vhost.domain }}
  Documentroot "{{ apache_vhosts_root }}/{{ vhost.domain }}/httpdocs"
  Redirect / https://{{ vhost.domain }}/
</VirtualHost>
{% endif %}
{% endfor %}
