{{ apache_global_vhost_settings }}

{# Set up VirtualHosts #}
{% for vhost in wordpress_vhosts %}
{% if vhost.tls is defined %}
<VirtualHost {{ apache_listen_ip }}:{{ apache_listen_port }}>
  ServerName {{ vhost.domain }}
  ServerAlias www.{{ vhost.domain }}
  Documentroot "{{ apache_vhosts_root }}/{{ vhost.domain }}/httpdocs"
  Redirect / https://{{ vhost.domain }}
</VirtualHost>
{% endif %}

{% if vhost.tls is defined %}
<VirtualHost {{ apache_listen_ip }}:{{ apache_listen_port_ssl }}>
{% else %}
<VirtualHost {{ apache_listen_ip }}:{{ apache_listen_port }}>
{% endif %}
  ServerName {{ vhost.domain }}
  ServerAlias www.{{ vhost.domain }}
  ServerAdmin admin@{{ vhost.domain }}
  DocumentRoot "{{ apache_vhosts_root }}/{{ vhost.domain }}/httpdocs"
{% if vhost.tls is defined %}
  SSLEngine on
  SSLCipherSuite {{ apache_ssl_cipher_suite }}
  SSLProtocol {{ apache_ssl_protocol }}
  SSLHonorCipherOrder On
{% if apache_vhosts_version == "2.4" %}
  SSLCompression off
{% endif %}
  SSLCertificateFile {{ vhost.certificate_file }}
  SSLCertificateKeyFile {{ vhost.certificate_key_file }}
{% if vhost.certificate_chain_file is defined %}
  SSLCertificateChainFile {{ vhost.certificate_chain_file }}
{% endif %}
{% endif %}
  <Directory "{{ apache_vhosts_root }}/{{ vhost.domain }}/httpdocs">
    AllowOverride none
    Options {{ vhost.options | default(apache_options) }}
{% if apache_vhosts_version == "2.2" %}
    Order allow,deny
    Allow from all
{% else %}
    Require all granted
{% endif %}
    RewriteEngine On
		RewriteBase /
		RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
		RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
		RewriteRule ^index\.php$ - [L]
		RewriteCond %{REQUEST_FILENAME} !-f
		RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
  </Directory>
	ErrorLog /var/log/httpd/{{ vhost.domain }}-error.log
	LogLevel warn
  CustomLog /var/log/httpd/{{ vhost.domain }}-access.log combined
  <Files wp-login.php>
    AuthName "Admins Only"
    AuthUserFile {{ htpasswd_file }}
    AuthGroupFile /dev/null
    AuthType basic
    require valid-user
  </Files>
  <Location /wp-admin/>
    AuthName "Admins Only"
    AuthUserFile {{ htpasswd_file }}
    AuthGroupFile /dev/null
    AuthType basic
    require valid-user
  </Location>
</VirtualHost>
{% endfor %}
